html {
    background-color: deeppink;
}

h1 {
    color: aliceblue;
    margin: 40px;
}

p {
    color: aliceblue;
    font-size: 20px;
    margin: 40px;
    padding: 10px;
    border: solid white;
    border-radius: 15px;
    width: 500px;
}

img {
    margin: 40px;
    border: solid 5px white;
    border-radius: 15px;
    width: 500px;
}